@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  background-image: url(../src/images/55.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .overlay2{
    background-image: url(../src/images/55.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


#display-image{
  width: 400px;
  height: 225px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}