@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  background-image: url(../src/images/1\ \(27\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.Header {
  height: 100vh;
}
